<div class="span10">
<br>
<h3>All drugs</h3>

<table class="table table-hover">
  <tr><thead>
    <th>Medication Name</th>
    <th>Brand Name</th>
    <th>Category</th>
    <th>Information</th>
    <th></th>
    <th></th>

  </thead></tr>

<% @drugs.each do |drug| %>
  <tr>
    <td><%= link_to drug.medication_name, drug_path(drug.id), :class => 'btn btn-link btn-small'%></td>
	<td><% if !drug.brand_name.nil?%>
		<%= link_to drug.brand_name, drug_path(drug.id)%>
		<% else %>
		None
		<% end%>
	</td>
    <td>
      <%= drug.category %>
     
    </td>
    <td><%= drug.information %></td>
 	<td><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_drug_path(drug), :class => 'btn btn-small' %></td>
  <td> <%= link_to raw("<i class='icon-trash'></i> Delete"), drug, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drug', new_drug_path %>

</div>