<div class="span12">
<br>
<br>
<h4>Search for Drugs: </h4>

<% @studies.each do |study| %>
<div class="row">
	<div class="span4 ">
<br>


	<%= form_tag("/studies", :method => 'get') do %>
	
		<%= text_field_tag('querysearch', '', :size => 12, :class => "query#{study.id} autoquery input-large search-query", :placeholder =>"Search Drugs and Enter") %>
		<%= hidden_field_tag('studyid', '', :size => 12, :value => study.id) %>
		<%= hidden_field_tag('query') %>
	<% end %>
	<script>
	
		var medications = []
		<% @study_drugs = Drug.for_study(study.id).each do |d| %>
		<%    if( d.brand_name.present?)  %>
		    <% brand_medication = "#{d.brand_name.upcase} (#{d.medication_name.downcase})"%>
	   
	
          
			medications.push( {
                    value: "<%= d.medication_name %>",
                    label: "<%= brand_medication %>"
                    });
		   
		<% elsif %>
		
          
			medications.push( {
                    label: "<%= d.medication_name %>",
                    value: "<%= d.medication_name %>"
                    });

				<% end %>	
		<% end %>
		$( ".query<%= study.id %>" ).autocomplete({
						minLength: 0,
						source: medications,
				select: function(e, ui) {
		
     $("#query").val(ui.item.value);

    $('#querysearch').text(ui.item.label);
	return false;
    },
        focus: function(event, ui) {
            $("#querysearch").val(ui.item.label);
            return false;
        }
	
		});
	</script>
	
		<script type="text/javascript">
		    $(function () {
		         $(".label").popover(
		            {
		                offset: 5,
		                placement: 'bottom',
						title: 'Information:'
		
		            }
		        );
		    });
		</script>
</div>
	<div class="span7 ">
		<br>
	    <center>
	
  <% if   study.id.to_i == @studyid.to_i%>
	
	 <%  unless @search_drug.nil?%>
	 	<%    if( @search_drug.brand_name.present?)  %>
		
		 <h3>	<%= link_to   "#{@search_drug.brand_name.upcase} (#{@search_drug.medication_name.downcase})", drug_path(@search_drug), :class => 'btn btn-link btn-large'%></h3>
		   
	   <% elsif %>
		  <h3>	<%= link_to @search_drug.medication_name, drug_path(@search_drug), :class => 'btn btn-link btn-large'%></h3>
	<% end%>
	 

    <p>
		<% if @search_drug.category =="permitted" %>
  			<span class="label label-success" data-content="<%=  @search_drug.information%>">Permitted</span>
  			<% elsif @search_drug.category == "prohibited" %>
  			<span class="label label-important" data-content="<%=  @search_drug.information%>">Prohibited</span>
  			<% else %>
  			<span class="label label-warning" data-content="<%=  @search_drug.information%>">Restricted</span>
			
  		<% end%>
</p>
<% else %>
<p>No Drugs Found<p>

	<% end %>
	
	<% end %>
	</center>
	
</div>
	
</div>
<br />
<br><br>
<br><br>
<br>

<% end %>

<br />

</div>