<div class="span8">

<p id="notice"><%= notice %></p>

<p>
  	<h3>  <%= @study.name %></h3>

</p>


	<%= form_tag study_path, :method => 'get' do %>
		<%= text_field_tag('query', '', :size => 12, :class => "input-medium search-query", :placeholder =>"Search and Enter") %>
	<% end %>

	<script>
		var medications = [];
		<% @study_drugs.each do |d| %>
			medications.push("<%= d.medication_name%>");
		<% end %>
		$( "#query" ).autocomplete({
			source: medications
		});
	</script>
<br>
<% if @search_drugs.empty? %>
	<p>No Drugs Found<p>
<% else %>
	<table id="associated-drugs">
		<% @search_drugs.each do |drug| %>
		<hr>
		
					<script type="text/javascript">
					    $(function () {
					         $(".btn").popover(
					            {
					                offset: 5,
					                placement: 'bottom'
					            }
					        );
					    });
					</script>
					
					
					
					
					
					<button class="btn" id="button1" data-content='<%= drug.information %>'><%=  drug.medication_name %>
					</button>&nbsp;
      		<% if drug.category =="permitted" %>
  			<span class="label label-success">Permitted</span>
  			<% elsif drug.category == "prohibited" %>
  			<span class="label label-important">Prohibited</span>
  			<% else %>
  			<span class="label label-warning">Restricted</span>

  		<% end%>
		<% end%>
	</table>
<% end %>
<br>
<hr>
<%= link_to 'Back', studies_path %>

</div>