<div class="span8">

<p id="notice"><%= notice %></p>

<p>
  	<h3>  <%= @study.name %></h3>

</p>


	<%= form_tag study_path, :method => 'get' do %>
		<%= text_field_tag('query', '', :size => 12, :class => "input-small search-query", :placeholder =>"Search") %>
	<% end %>

	<script>
		var medications = [];
		<% @study_drugs.each do |d| %>
			medications.push("<%= d.medication_name %>");
		<% end %>
		$( "#query" ).autocomplete({
			source: medications
		});
	</script>
<br>
<% if @search_drugs.empty? %>
	<p>No Drugs Found<p>
<% else %>
	<table id="associated-drugs">
		<% @search_drugs.each do |drug| %>
		<hr>
		<h3><%= link_to drug.medication_name, drug_path(drug)%>
	    </h3>
      	<% if drug.category =="permitted" %>
  			<span class="label label-success">Permitted</span>
  			<% elsif drug.category == "prohibited" %>
  			<span class="label label-important">Prohibited</span>
  			<% else %>
  			<span class="label label-warning">Restricted</span>

  		<% end%>
			<br>
			<br>
	    <b> Information: </b><%= drug.information %>
		<% end%>
	</table>
<% end %>
<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>

</div>