

    
<div class="container body narrow-body"> <!-- Start of Main Container -->

<section id="register">
	<div class="page-header">
		<h3>Editing User</h3>
	</div>

   
<div class="row-fluid">
	<div class="span12">

<div class="form-horizontal">

<%= simple_form_for @user, :html => { :class => 'form-horizontal form-inline' } do |f| %>

    <% if @user.errors.any? %>
    <div id="error_explanation" class ="error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

       
                      <div class="control-group ">
		<label class="control-label required" for="name">Name</label>
		<div class="controls">
                   <%= f.text_field :name,  :class => 'span3'  %>
		</div>
	</div>
	
                    <div class="control-group ">
		<label class="control-label required" for="username">Username</label>
		<div class="controls">
		<%= f.text_field :login , :class => 'span3' %>
			
		</div>
	</div>
                
              
              
            
                
                        <div class="control-group ">
		<label class="control-label required" for="password"> Password </label>
		<div class="controls">
   <%= f.password_field :password,  :class => 'span3'  %>
   </div>
	</div>
                
                
          
                
                
 
                
                

                <div class="control-group">
		<div class="controls">
		  <%= submit_tag nil, :class => "btn btn-primary"  %>
			
		</div>
	</div>

                
                        
</div>
       
        </div>
</div>
    
    
</section>
</div>   
    


<% end %>


<%= link_to 'Back', users_path %>
</div>